*
!*.cpp
!*.c
!*.h
!*.b
!*.txt
!*.json
!*.md
!.github/
!.gitattributes
!.gitignore
!Makefile_
!CMakeLists.txt
!.vscode/launch.json
!.vscode/tasks.json

## macOS bullshit
#**/.DS_Store
#**/*.dSYM/
#._*

# ir/
# out/
# mat/
# build/
# CMakeFiles/
