
!*.cpp
!*.c
!*.b
!*.txt
!*.md
!.gitattributes
!.gitignore
!Makefile_
!CMakeLists.txt

out/
mat/
build/
CMakeFiles/
blang
nob
*.cmake
CMakeCache.txt
CMakeSettings.json
*.ll
.vscode/settings.json
.vs
!.vs/launch.vs.json
